---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { type GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths: GetStaticPaths = async () => {
    const releases = await getCollection("releases")
    return releases.map((release) => ({
        params: {
            id: release.data.id
        },
        props: {
            release: release.data,
            render: release.render()
        }
    }))
}

const release = Astro.props.release
const { Content } = await Astro.props.render

---

<Layout title=`${release.albumTitle} by ${release.artist}` layout="content" current="/releases" >
    <div slot="subtitle" >
        <div class="container">
            <h2>{release.albumTitle}</h2>
            <h3>{release.artist}</h3>
            <Image 
                src={release.artwork} 
                alt={release.albumTitle} class="shadow-md" 
                width="600" 
                height="600" 
                loading="lazy"
                decoding="async" 
                transition:name=`${release.id}-artwork`
                />
        </div>
    </div>
    <div slot="content">
        <div class="prose"> 
            <Content/>
        </div> 
    </div>

</Layout