---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const releases = await getCollection("releases");

---

<div class="pb-12 mt-20 grid grid-cols-1 gap-16 sm:grid-cols-2 sm:grid-cols-2 sm:gap-12 md:gap-4 xl:grid-cols-3 xl:gap-5">
    {releases.reverse().map((album) => (
        
            <a href={`/releases/${album.data.id}`}>
                <h2>{
                    album.data.albumTitle}
                </h2>
                <h3>
                    {album.data.artist}
                </h3>
                <Image 
                    src={album.data.artwork}
                    alt={album.data.albumTitle} 
                    class="shadow-lg hover:shadow-sm rounded-sm transition:shadow duration-200 ease-in-out"
                    width="600" height="600"
                    transition:name={`${album.data.id}`}
                />
            </a>
    ))}
</div>
