---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const releases = await getCollection("releases");
---

<div
	class="py-12 grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-8 lg:grid-cols-4 absolute"
>
	{
		releases.reverse().map((album) => (
			<div class="flex items-end justify-center">
				<a href={`/releases/${album.data.id}`}>
					<div class="h-fit">
						<Image
							src={album.data.artwork}
							alt={album.data.albumTitle}
							class="object-contain h-95 w-95 rounded-sm"
							transition:name={`${album.data.id}`}
							width={800}
							height={800}
							loading="lazy"
						/>
					</div>
					<div class="flex flex-col items-center">
						<h2 class="text-2xl">{album.data.artist}</h2>
						<h3 class="text-lg">{album.data.albumTitle}</h3>
					</div>
				</a>
			</div>
		))
	}
</div>
