---
import type { GetStaticPaths } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import ContentLayout from '../../layouts/ContentLayout.astro';
import Layout from "../../layouts/Layout.astro";


export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts
    .filter((post) => post.data.draft === false)
    .map((post) => ({
      params: { slug: post.slug },
      props: {post}
    }));
};

const post = Astro.props.post;
const { Content } = Astro.props;
console.log(post)
const relatedPosts = Astro.props.post.data.relatedPosts;
---
<Layout
  title={post.data.title}
  current="/blogs"


>

  <ContentLayout>
    Blog 
    <br/>
    ---
    
    <h1>{post.data.title}</h1>
    <p>{post.data.author.id}</p>
    <br/>

    <p>{post.body}</p>

    {
      relatedPosts.map(post => (
          <p>see more by glen: 
            <a href={`/blogs/${post.slug}`}>
              {post.slug}
            </a>
          </p>
      ))
    }
  </ContentLayout>
</Layout>