---
import type { GetStaticPaths } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import BlogLayout from '../../layouts/BlogLayout.astro';
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";


export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts
    .filter((post) => post.data.draft === false)
    .map((post) => ({
      params: { slug: post.slug },
      props: {post}
    }));
};

const post = Astro.props.post;
const relatedPosts = Astro.props.post.data.relatedPosts;
---


  <BlogLayout>
    <h1 class="text-4xl">{post.data.title}</h1>
    <p>{post.data.author.id}</p>
    <br/>

    <!-- <slot/> -->
    {
      relatedPosts.map(post => (
          <p>see more by glen: 
            <a href={`/blogs/${post.slug}`}>
              {post.slug}
            </a>
          </p>
      ))
    }
  </BlogLayout>