---
import type { GetStaticPaths } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import BlogLayout from '../../layouts/BlogLayout.astro';
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import BlogComponent from "../../components/BlogComponent.astro";


export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await Astro.glob("../../content/posts/**/*.md");

  posts.forEach(post => {
    console.log(post.frontmatter)
  });

  return posts
    // .filter((post) => post.frontmatter.data.draft === false)
    .map((post) => ({
      params: { slug: post.frontmatter.slug },
      props: {post}
    }));
};
const { Content } = Astro.props.post

const post = Astro.props.post.frontmatter;

---


  <Layout title={post.title} current="/blogs">

    <BlogComponent
      title={post.title}
      author={post.author}
      date={post.date}
      slug={post.slug}
      excerpt={post.excerpt}
      relatedPosts={post.relatedPosts}
      image={post.image}
      content={post.content}
    >
    <Content/>
  </BlogComponent>

      <hr class=" mt-4 mb-12"/>
      <p class="mb-12">see more by <a href=`../${post.author}`>{post.author} </p>
    {
      post.relatedPosts.map(post => (
            <a href={`/blogs/${post.slug}`}>
              {post.slug}
            </a>
      ))
    }
  </Layout>